div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('../../assets/img/hero-background-nature.jpg');
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/hero-background-photography.jpg');
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/hero-background-technology.jpg');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
  height: 80px;
}

p.hero-subtitle {
  max-width: 1000px;
  height: 120px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  overflow-y: auto;
}

.text-dark.shadow-sm {
}

.text-dark:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

#carousel-1 {
}

